<!doctype html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <script src="node_modules/angular/angular.min.js"></script>
    <!-- Task:
    1) implement adding tasks;
    3) show number of remaining tasks;
    4) on 'archive' click delete remaining tasks;
    5) add button that removes individual tasks;
    6) implement filter;
    7) reformat code with to meet requirements of john papa style guide
     -->
    <div ng-app>
        <h2>Todo</h2>
        <div ng-controller="TodoCtrl as todoCtrl">
            <input type="text" placeholder="filter tasks">
            <br>
            <span>  {{todoCtrl.todos.length}} remaining</span>

            <ul class="unstyled">
                <li ng-repeat="todo in todos">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-">{{todoCtrl.todo.text}}</span>
                </li>
            </ul>
            <form ng-submit="addTodo()">
                <input type="text" size="30" placeholder="add new todo here">
                <input class="btn-primary" type="submit" value="add">
            </form>
            <a href="" ng-click="archive()">archive</a>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>